<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DCWC Team Assist</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="import">
                <span class="bi bi-camera-fill" aria-hidden="true"></span> Import Screenshot
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="characters">
                <span class="bi bi-people-fill" aria-hidden="true"></span> My Characters
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="team-builder">
                <span class="bi bi-diagram-3-fill" aria-hidden="true"></span> Team Builder
            </NavLink>
        </div>
        <hr />
        <div class="nav-item px-3">
            <NavLink class="nav-link text-muted" href="debug-slicer">
                <span class="bi bi-bug-fill" aria-hidden="true"></span> Debug Slicer
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
